@use '../../m.scss';

.card {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  flex: 1 1 30%;
  max-width: 30%;
  flex-flow: column;
  justify-content: space-between;
  padding-bottom: 20px;
  transition: 0.3s;
  text-decoration: none;
  color: var(--text-color);
  gap: 10px;

  @include m.mq (800px) {
    flex: 1 1 45%;
    max-width: 48%;
  }

  @include m.mq (500px) {
    flex: 1 1 100%;
    max-width: 100%;
  }

  &:hover>.cardImage>img {
    transform: scale(1.1);
  }

  .cardImage {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 200px;
      transition: 0.3s;
      object-fit: cover;
    }
  }

  h6 {
    font-size: var(--font-size-base);
    width: 90%;
    margin: auto;
  }

  .summary {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: auto;
    color: #555;

    b {
      font-weight: normal;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
    }
  }
}