.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  fill: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px #fff;
  z-index: 8;
  transition: 0.3s ease-in;
  transition-delay: 0.3s;
  background-color: #fff;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}